.filter-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
}

select.dropdown{
    min-width: 10vw;
    margin-right: 20px;
}

select.dropdown>option{
    min-width: 100vw;
}

.catalog-items-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 20vw;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    padding: 5px 10px;
}

.catalog-item-name{
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}

.catalog-item>img{
    max-width: 15vw;
}

.catalog-item>.content>.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.price-wrapper{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}