/* there will be all styles for main Page */
.carousel-item {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.carousel-item > div.img-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  margin-right: 20px;
}

.carousel-item .text{
  text-align: justify;
}

.img-carousel > img {
  width: 100%;
  max-height: 200px;
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 24vw;
  margin-right: 20px;
  margin-bottom: 20px;
}

.article .text{
  text-align: justify;
}

.img-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.img-article > img {
  height: 40vh;
  width: 22vw;
}

div.title {
  margin: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: start;
}

div.text {
  font-size: 14px;
  margin: 5px;
  text-align: start;
}
