/* there will be all styles for main Page */
.carousel-item{
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    overflow:hidden;
}

.carousel-item>div.img-carousel{
    margin-right: 20px;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.img-carousel>img{
    width: 100%;
    max-height: 200px;
}


.articles{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article{
    height: 80%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow:hidden;
}

.img-article{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.img-article>img{
    width: 100%;
    max-height: 100px;
}


div.content{
    height: 100%;
    width: 70%;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-left: 10px;
}

div.title{
    margin: 5px;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
}

div.text{
    font-size: 14px;
    margin: 5px;
    text-align: start;
}