.header {
  justify-content: space-between;
}

header ul {
  list-style-type: none;
  display: flex;
}

header ul li {
  margin: 5px;
}

header ul li a {
  font-weight: bold;
  font-size: 1.2rem;
}

header ul li a:hover {
  color: #b93b3b;
}
