@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
/* there will be all main styles for root, app and wrappers for pages, footer and header */
* {
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a:hover {
  text-decoration: underline;
}

.button {
  color: #fff;
}

.footer {
  border-top: 2px solid rgba(0, 0, 0, 0.425);
}
@import url('./components/header/Header.css');

/* @import url('./components/menu/Menu.css'); */

@import url('./components/footer/Footer.css');
