/* there will be all main styles for root, app and wrappers for pages, footer and header */
* {
  color: rgb(0, 0, 0);
  font-family: 'Roboto Mono', monospace;
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
  text-align: justify;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  margin: 0px 5px;
  height: 99%;
  width: 99%;
  min-height: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 10%;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.425);
}

main {
  height: 89%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.page {
  height: 80%;
  width: 90%;
  background-color: antiquewhite;
}

.footer {
  height: 19%;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.425);
}
@import url('./components/footer/SocialMenu.css');
